name: REXML
on:
  schedule:
    - cron: |
        0 0 * * 0
  workflow_dispatch:
jobs:
  test:
    name: ${{ matrix.runs-on }}
    runs-on: ${{ matrix.runs-on }}
    strategy:
      fail-fast: false
      matrix:
        runs-on:
          - ubuntu-latest
          - macos-latest
          - windows-latest
    env:
      RSS_REXML_PATH: ${{ github.workspace }}/rexml
    steps:
      - uses: actions/checkout@v4
      - uses: actions/checkout@v4
        with:
          path: rexml
          repository: ruby/rexml
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ruby
          bundler-cache: true
      - name: Test
        run: bundle exec rake test
