name: Test
on:
  - push
  - pull_request
jobs:
  ruby-versions:
    uses: ruby/actions/.github/workflows/ruby_versions.yml@master
    with:
      engine: cruby-jruby
      min_version: 2.5

  inplace:
    needs: ruby-versions
    name: ${{ matrix.ruby-version }} on ${{ matrix.runs-on }}
    runs-on: ${{ matrix.runs-on }}
    strategy:
      fail-fast: false
      matrix:
        runs-on:
          - ubuntu-latest
          - macos-latest
          - windows-latest
        ruby-version: ${{ fromJson(needs.ruby-versions.outputs.versions) }}
        exclude:
          - runs-on: macos-latest
            ruby-version: "2.5"
        # include:
        #   - runs-on: ubuntu-latest
        #     ruby-version: truffleruby
    steps:
      - uses: actions/checkout@v6
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby-version }}
          bundler-cache: true
      - name: Test
        run: bundle exec rake test

  gem:
    name: ${{ matrix.ruby-version }} on ${{ matrix.runs-on }}
    runs-on: ${{ matrix.runs-on }}
    strategy:
      fail-fast: false
      matrix:
        runs-on:
          - ubuntu-latest
          - macos-latest
          - windows-latest
        ruby-version:
          - "3.0"
          - head
    steps:
      - uses: actions/checkout@v6
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby-version }}
      - name: Install as gem
        run: |
          rake install
      - name: Install test dependencies
        run: |
          gem install test-unit
      - name: Test
        run: |
          ruby -run -e mkdir -- tmp
          ruby -run -e cp -- -p -r test tmp
          cd tmp
          ruby test/run-test.rb
